body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
.fiftypx{
  font-size: 50px;
}
.name-color {
  color: orangered;
}
.flexing{
  display: flex;
 
}
.top-page{
  margin-bottom: 150px;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding-left: 4%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-color: orangered;
  padding: 10px 40px;
  border-radius: 4px;
  color: aliceblue;
  font-weight: 700;
}
.middle-page {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.exp-card{
  width: 40%;
  margin: 5%;
  margin-right: 5%;
  box-shadow:5px 5px 5px 7px gray;
  padding: 20px;
  border-radius: 10px;
}
h3{
  color: orangered;
}
.experiens-part{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  position: right;
}
.bottom-page .fiftypx{
  text-align: center;
}
#full-stack-dev{
  border-left: 7px solid tomato;
}
#baby-web-dev{
  border-left: 7px solid blue   ;
}
footer p{
  text-align: center;
  color: gray;
}