
body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
.name-color {
  color: orangered;
}
section {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 4%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-color: orangered;
  padding: 10px 40px;
  border-radius: 4px;
  color: aliceblue;
  font-weight: 700;
}
.middle-page {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
